<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag{
        width: 140px;
        height: 140px;
      }

    </style>
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12 flag" src="https://image.flaticon.com/icons/png/128/1651/1651769.png" alt="">
      </div>
      <div class="row">
        <button on-click="incrementar" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cargar Datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        <input type="text" name="" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped col-lg-xs-12">
         <thead>
           <th>id</th>
           <th>Nombre</th>
           <th>Apellidos</th>
         </thead>
         <tbody>
           <tr>
             <td>[[prop2]]</td>
             <td>Selena</td>
             <td>Mora</td>
           </tr>
           <tr>
             <td>2</td>
             <td>Leandro</td>
             <td>Perea</td>
           </tr>
         </tbody>
       </table>
      </div>
    </div>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 99999999
          },
          prop3: {
            type: String
          }
        };
      }
      incrementar() {
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
